/* global */
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: arial;
}
a {
	text-decoration: none;
	color: white;
	margin-left: 15px;
	margin-right: 15px;
}
img {
	max-width: 100%;
}
/* utilities */
.flex-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 100px;
}

.flex-header-v {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 35vh;
}
.container {
	width: 80%;
	margin: 0 auto;
}
/* header */
.site-init {
	background-image: url(./img/header.jpg);
	color: white;
	height: 40vh;
	background-size: cover;
}
.site-init p {
	font-size: 20px;
}
.menu a {
	margin: 10px;
}
/* about */
.flex-about {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
/*house item  */
.house-item {
	background-color: rgb(245, 245, 245);
	width: 32%;
	margin-bottom: 10px;
	border: solid 0.5px rgb(196, 196, 196);
}
.price {
	color: green;
	font-weight: bold;
}

.flex-icons {
	display: flex;
	justify-content: space-between;
	width: 100%;
	/* background-color: chartreuse; */
}
.flex-icons li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 25%;
	/* background-color: blue; */
}

.details-btn {
	background-color: rgb(224, 135, 10);
	width: 100%;
	border: none;
	color: rgb(245, 245, 245);
	margin: 20px 0 10px 0;
	height: 35px;
	font-size: medium;
}
.flex-add {
	display: flex;
	justify-content: space-between;
}
