/* global */
:root {
	--primary-color: rgb(224, 135, 10);
	--secondary: rgb(30, 130, 30);
}
html {
	font-size: 62.5%; /* 10px = 1rem*/
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: arial;
}
a {
	text-decoration: none;
	color: white;
	/* margin-left: 15px;
	margin-right: 15px; */
}
img {
	max-width: 100%;
}
h2 {
	text-align: center;
	margin: 1rem 0;
	font-size: 2.4rem;
}
p {
	font-size: 1.6rem;
	line-height: 1.5;
}
/* utilities */
.flex-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 100px;
}

.flex-header-v {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 35vh;
}
.container {
	width: 80%;
	margin: 0 auto;
}

.container h3 {
	min-height: 3.2rem;
}
/* header */
.site-init {
	background-image: url(./img/header.jpg);
	color: white;
	height: 40vh;
	background-size: cover;
}
.site-second {
	background-color: black;
	color: white;
}
.site-init p {
	font-size: 20px;
}
.menu a {
	margin: 10px;
}
/* about */
.flex-about {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
/*house item  */
.house-item {
	background-color: rgb(245, 245, 245);
	width: 32%;
	margin-bottom: 1rem;
	border: solid 0.5px rgb(196, 196, 196);
}
.price {
	color: var(--secondary);
	font-weight: bold;
}

.flex-icons {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	/* background-color: chartreuse; */
}
.flex-icons li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 25%;
	/* background-color: blue; */
}

.details-btn {
	background-color: var(--primary-color);
	width: 100%;
	border: none;
	color: rgb(245, 245, 245);
	margin: 2rem 0 1rem 0;
	height: 3.5rem;
	font-size: medium;
}
.flex-add {
	display: flex;
	justify-content: space-between;
}
/* contact forms */
.form-container {
}
fieldset {
	padding: 1rem;
}
legend,
label,
input {
	font-size: 1.6rem;
}
.input-container {
	margin: 1rem;
}
.input-container label {
	font-weight: bold;
}
.input-container input,
.input-container textarea,
select {
	width: 70%;
	background-color: #dedede;
	border: none;
	padding: 0.5rem;
	border-radius: 1rem;
}
.input-container label {
	display: inline-block;
	width: 10rem;
	text-align: right;
	margin-right: 1rem;
}
.radio-container {
	width: 30rem;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}
.send-btn {
	color: white;
	background-color: rgb(112, 177, 0);
	margin: 2rem 0 2rem 0;
	border: none;
	padding: 1rem;
}
fieldset legend {
	font-weight: bold;
	color: gray;
}
fieldset p {
	font-size: 1.5rem;
	color: gray;
}
