/* global */
:root {
	--primary-color: rgb(224, 135, 10);
	--secondary: rgb(30, 130, 30);
}
html {
	font-size: 62.5%; /* 10px = 1rem*/
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: arial;
}
a {
	text-decoration: none;
	color: white;
	/* margin-left: 15px;
	margin-right: 15px; */
	font-size: 1.5rem;
}
img {
	max-width: 100%;
}
h2 {
	text-align: center;
	margin: 1rem 0;
	font-size: 2.4rem;
}
p {
	font-size: 1.6rem;
	line-height: 1.5;
}
/* utilities */
.flex-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 100px;
}

.flex-header-v {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 35vh;
}
.container {
	width: 80%;
	margin: 0 auto;
}

.container h3 {
	min-height: 3.2rem;
}
/* header */
.site-init {
	background-image: url(./img/header.jpg);
	color: white;
	height: 40vh;
	background-size: cover;
}
.site-second {
	background-color: black;
	color: white;
}
.site-init p {
	font-size: 20px;
}
.menu a {
	margin: 10px;
}
@media (max-width: 768px) {
	.flex-header {
		flex-direction: column;
	}
	.flex-header-v {
		height: 20vh;
		text-align: center;
	}
	.site-init {
		height: 22vh;
	}
	.site-init p {
		font-size: 1.5rem;
	}
}
/* about */
.flex-about {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 768px) {
	.flex-about {
		flex-direction: column;
	}
}
/*house item  */
.house-item {
	background-color: rgb(245, 245, 245);
	width: 32%;
	margin-bottom: 1rem;
	border: solid 0.5px rgb(196, 196, 196);
}
.price {
	color: var(--secondary);
	font-weight: bold;
}

.flex-icons {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	/* background-color: chartreuse; */
}
.flex-icons li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 25%;
	/* background-color: blue; */
}

.details-btn {
	background-color: var(--primary-color);
	width: 100%;
	border: none;
	color: rgb(245, 245, 245);
	margin: 2rem 0 1rem 0;
	height: 3.5rem;
	font-size: medium;
}
.flex-add {
	display: flex;
	justify-content: space-between;
}
@media (max-width: 768px) {
	.flex-add {
		flex-direction: column;
	}
	.flex-add .house-item {
		width: 100%;
	}
}
/* contact forms */

fieldset {
	padding: 1rem;
}
legend,
label,
input {
	font-size: 1.6rem;
}
.input-container {
	margin: 1rem;
}
.input-container label {
	font-weight: bold;
}
.input-container input,
.input-container textarea,
select {
	width: 70%;
	background-color: #dedede;
	border: none;
	padding: 0.5rem;
	border-radius: 1rem;
}
.input-container label {
	display: inline-block;
	width: 10rem;
	text-align: right;
	margin-right: 1rem;
}
.radio-container {
	width: 30rem;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}
.send-btn {
	color: white;
	background-color: rgb(112, 177, 0);
	margin: 2rem 0 2rem 0;
	border: none;
	padding: 1rem;
}
fieldset legend {
	font-weight: bold;
	color: gray;
}
fieldset p {
	font-size: 1.5rem;
	color: gray;
}
/* About page */

span {
	font-weight: 300;
}
p {
	span {
		color: green;
	}
}
.hero {
	background-color: #444;
	background-image: url(./img/highlight.jpg);
	background-blend-mode: multiply;
	background-size: cover;
	height: 100vh;
	padding: 1em;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.hero h1 {
	font-size: 5rem;
	color: green;
	text-transform: uppercase;
	letter-spacing: 15px;
	outline: 3px solid white;
	outline-offset: 0.25em;
	display: inline-block;
	margin: 0.25em 0 0.5em;
}
.sales-points {
	padding: 12vh 0;
	text-align: center;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
@media (min-width: 40rem) {
	.sales-points {
		flex-direction: row;
	}
}
.sale-point {
	flex-basis: 30%;
}
.contact-us {
	background-image: url(./img/destacada3.jpg);
	background-color: #444;
	background-blend-mode: multiply;
	background-size: cover;
	padding: 10vh 0;
	color: white;
	display: flex;
	justify-content: flex-end;
}

.cont-us {
	flex-basis: 100%;
	padding: 0 2em;
	@media (min-width: 40rem) {
		flex-basis: 50%;
	}
}
.btn-footer {
	display: inline-block;
	padding: 0.7em 1.7em;
	background: green;
	color: black;
	font-weight: 600;
	text-decoration: none;
}
.btn-footer:hover {
	background-color: rgb(112, 201, 109);
}
/* blog page */
.s-container {
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	flex-wrap: wrap;
}
.card {
	background-color: white;
	width: 300px;

	margin: 10px;
	border-radius: 15px;
}
.card-image {
	height: 150px;
	margin-bottom: 15px;
	border-radius: 15px 15px 0 0;
}
.card-1 {
	background-image: url(./img/blog1.jpg);
	background-size: cover;
}
.card-2 {
	background-image: url(./img/blog2.jpg);
	background-size: cover;
}
.card-3 {
	background-image: url(./img/blog3.jpg);
	background-size: cover;
}
.card h1,
p {
	padding: 10px;
}
.btn-blog {
	background-color: black;
	color: white;
	padding: 15px 20px;
	display: block;
	text-align: center;
	margin: 20px 50px;
}
.card:hover {
	background-color: rgb(62, 62, 62);
	color: white;
	cursor: pointer;
	transform: scale(1.05);
	transition: all 0.5s ease;
}
